<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splash"
        android:label="algroup"
        android:roundIcon="@drawable/one"
        android:supportsRtl="true"
        android:theme="@style/Theme.ALGroup"
        tools:targetApi="31">
        <activity
            android:name=".carritoDeCompras"
            android:exported="false" />
        <activity
            android:name=".filtrosCabina"
            android:exported="false" />
        <activity
            android:name=".filtrosAire"
            android:exported="false" />
        <activity
            android:name=".filtrosAceite"
            android:exported="false" />
        <activity
            android:name=".filtrosCombustible"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false" />
        <activity
            android:name=".validarpin"
            android:exported="false" />
        <activity
            android:name=".registrarse"
            android:exported="false" />
        <activity
            android:name=".iniciarsesion"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>